/*Variables*/
$dark: #282d33;
$light-grey: #e3e4e5;
$dark-red: #95161f;
$white: #fff;
$light-white: #f3f3f3;
$light-red: #ae4b5d;
$grey: #a5adb8;
$dark-grey: #656f7a;
$line-red: #875f66;
$black: #24272d;
$milk: #d9dcdf;
$light-milk: #f1f1f1;
$milk-grey: #d8dbde;
$light:#fffcfc;
$asphalt: #757575;
$dark-asphalt: #5c646e;
$dark-milk: #a2a2a2;
$dark-white: #9da4af;
$red: #d08b98;
$asphalt-grey: #85898f;
$wet-asphalt: #191c20;